body {
    text-align: center;
    padding: 5rem 0rem;
    /* animation: transitionIn 1.4s; */
    background-color: #ddf3f5;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10deg);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar {
    background-color: #ddf3f5;
}

.navbar-nav {
    margin-left: auto;
}

@media screen and (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }
}

/* .navbar.scrolled {
    background-color: #c8f5f7 !important;
    transition: background-color 1500ms linear;
} */

/******** Default font sizes & text margins for screens with width <991px ********/
.navbar-brand {
    font-size: 1.2rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}

.nav-link {
    font-size: 0.95rem;
    font-family: 'Noto Sans JP', sans-serif;
}

h2, h4, h5, h6, p {
    margin: 8px 0px;
}

h2 {
    font-size: 1.6rem;
    font-family: 'Noto Sans JP', sans-serif;
    padding-bottom: 1.2rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.18rem;
}

h6 {
    font-size: 1.1rem;
}

p, li, .btn-lg {
    font-size: 1rem;
}

.button-text {
    font-size: 0.98rem;
}

/******** Font sizes & text margins for tablet screens ********/
@media screen and (min-width: 991px) {
    .navbar-brand {
        font-size: 1.2rem;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: bold;
    }
    
    .nav-link {
        font-size: 0.9rem;
        font-family: 'Noto Sans JP', sans-serif;
    }
    
    h2 {
        font-size: 1.65rem;
        font-family: 'Noto Sans JP', sans-serif;
        padding-bottom: 1.2rem;
    }
    
    h4 {
        font-size: 1.3rem;
    }

    h5 {
        font-size: 1.22rem;
    }
    
    h6 {
        font-size: 1.15rem;
    }
    
    p, li, .btn-lg {
        font-size: 0.98rem;
    }

    .button-text {
        font-size: 1.02rem;
    }
}

/******** Font sizes & text margins for huge desktop screens ********/
@media screen and (min-width: 1679px) {
    .navbar-brand {
        font-size: 1.2rem;
    }

    .nav-link {
        font-size: 0.9rem;
    }

    h1, h2, h4, h6, p {
        margin: 15px 0px;
    }
    
    h2 {
        font-size: 1.85rem;
        font-family: 'Noto Sans JP', sans-serif;
        padding-bottom: 1.2rem;
    }
    
    h4 {
        font-size: 1.3rem;
    }

    h5 {
        font-size: 1.15rem;
    }
    
    h6 {
        font-size: 1.05rem;
    }
    
    p, li, .btn-lg {
        font-size: 1.05rem;
    }

    .button-text {
        font-size: 0.95rem;
    }
}




/******************* Container styles *******************/

.container-style {
    max-width: 1000px;
    margin: auto; 
}

@media screen and (min-width: 1679px) {
    .container-style {
        max-width: 1200px;
        padding: 3.2% 0%;
    }
}

@media screen and (max-width: 1679px) {
    .container-style {
        padding: 4% 0%;
    }
}

@media screen and (max-width: 1330px) {
    .container-style {
        padding: 5.6% 0%;
    }
}


@media screen and (max-width: 991px) {
    .container-style { 
        padding: 7.6% 0%;
    }
}

@media screen and (max-width: 853px) {
    .container-style {
        padding: 10% 0%;
    }
}

@media screen and (max-width: 610px) {
    .container-style {
        padding: 16% 1%;
    }
}

/******************* Footer *******************/
.footer-text {
    text-align: left;
    font-size: 0.8rem;
    margin-top: 0.8rem;
    padding-left: 0.8rem;
    color:black;
}